<h1>Editing Hardwaretypzuserver</h1>

<%= render 'form', hardwaretypzuserver: @hardwaretypzuserver %>

<%= link_to 'Anzeigen', @hardwaretypzuserver %> |
<%= link_to 'Zurück', hardwaretypzuservers_path %>
