<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @komponententyp.name %>
</p>

<%= link_to 'Bearbeiten', edit_komponententyp_path(@komponententyp) %> |
<%= link_to 'Zurück', komponententyps_path %>
