<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hardwaretyp.name %>
</p>

<%= link_to 'Bearbeiten', edit_hardwaretyp_path(@hardwaretyp) %> |
<%= link_to 'Zurück', hardwaretyps_path %>
