<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @betriebssystemtyp.name %>
</p>

<%= link_to 'Edit', edit_betriebssystemtyp_path(@betriebssystemtyp) %> |
<%= link_to 'Back', betriebssystemtyps_path %>
