// Place all the styles related to the techbenutzers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.techbenutzer{
    width: 100%;
    font-size: 12px;
 
  }

  .techbenutzer .name{
    width: 20%;
    float:left;
  }


  .techbenutzer .kennwort{
    width: 20%;
    float:left;
  }

  .techbenutzer .beschreibung{
    width: 20%;
    float:left;
  }

  