<div class="menue">
    <% #Aufbau des menüs
    @kundes.each do |ku| %>

        <div class="kunde">
            <%= link_to ku.name, controller: "start", action: "index", id: ku.id %>

            <% #wenn die Param id mit der des Kunden übereinstimmt werden Applikationen ausgegeben
            if params[:id].to_i == ku.id %>
                <% ku.applikation.each do |kuap| %>
                    <div class="appl">
                        <%= link_to kuap.name , controller: "start", action: "index",  id: ku.id , applikation_id: kuap.id %>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% end %>


    <div style="font-weight:bold"> 
        Administratives
    </div>
    <%= link_to "Fachgruppen", controller: "fachgruppes", action: "index"  %><br/>
    <%= link_to "Dienstleister", controller: "dienstleisters", action: "index"  %>
</div>